* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-dch {
    height: 200px;
    margin: 10px;
}

.entregador {
    height: 500px;
}

.imagem-entregador {
    position: fixed;
    right: 5%;
    top: 22%;
}

.chama-formulario {
    height: 50px;
    width: 200px;
    color: white;
    background-color: #22a5fc;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;
}

.chama-formulario:hover {
    background-color: rgb(19, 56, 221);
}

.button-form {
    height: 50px;
    width: 200px;
    color: white;
    background-color: #22a5fc;
    border-radius: 3px;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 30px;
}

.button-form:hover {
    background-color: rgb(19, 56, 221);
}

body {
    height: 100vh;
}


.div-video {
    position: fixed;
    z-index: -1;
    top: 0;
}

video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.mascara {
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
}

.mapa {
    display: flex;
    position: relative;
    left: 5%;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 10px;
}

.caixa-de-localização {
    background-image: white;
}

p {
    color: white;
    font-size: 20px;
    line-height: 25px;
}

.chama-formulario {
    position: fixed;
    right: 5%;
    top: 2%;
}

.volta-formulario {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    top: 20%;
    left: 90%;
    border: 0;
    position: fixed;
    transition: left 0.6s ease-in-out;
    cursor: pointer;
}



.paragrafo {

    width: 700px;
    margin-left: 10%;
}

.botao-whats {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.botao-face {
    height: 80px;
    position: fixed;
    right: -1%;
    bottom: 85px;
}

.botao-insta {
    height: 60px;
    position: fixed;
    right: 20px;
    bottom: 170px;
}

.header img {
    width: 70px;
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    top: -1px;
    margin-left: 1%;
}

.header a {
    color: white;
    font-size: 15px;
    cursor: pointer;
    gap: 50px;
    top: 0px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.header a:hover {
    color: #22a5fc;
    font-size: 16px;
    transition: 0.5s ease-in-out;
}

.formulario-fale-conosco {
    background-color: white;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: -22%;
    border-radius: 5px;
    padding: 20px;
    position: fixed;
    gap: 20px;
    transition: left 0.6s ease-in-out;
}

input {
    border-radius: 5px;
    border: 1px solid gray;
    height: 40px;
    padding-left: 5px;
    outline-color: #0306c2
}

textarea {
    border-radius: 5px;
    border: 1px solid gray;
    height: 100px;
    width: 270px;
    padding-left: 5px;
    outline-color: #0306c2;
}

.mascara-formulario {
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    transition: visibility 0.6s ease-in-out;
}

.div-sobre {
    width: 60%;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
}

.img-sobre {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
    gap: 20%;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: antiquewhite
}

.mapa {
    display: flex;
    width: 10px;
}

.div-info {
    width: 60%;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    height: 100vh;
    gap: 20%;
}